/* Estilos gerais do menu */
.menu {
  margin-bottom: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px; /* Aumentado para equilibrar o aumento da logo e fonte */
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Necessário para o posicionamento do dropdown */
}

/* Estilos para a logo */
.logo {
  margin-top: -40px;
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 130px; /* Aumentado */
  height: auto;
  cursor: pointer;
}

/* Ícone de menu para dispositivos móveis */
.toggle-menu {
  margin-top: -40px;
  display: none; /* Escondido por padrão */
  cursor: pointer;
  z-index: 10; /* Garante que fique acima do menu dropdown */
}

.menu-icon {
  max-height: 35px; /* Proporcional ao aumento geral */
  width: auto;
}

/* Itens do menu em telas grandes */
.menu-items {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-items ul {
 
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.menu-items li {
  margin: 0 15px; /* Aumentado para equilibrar o tamanho da fonte */
  font-size: 22px; /* Aumentado */
}

.menu-items a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.menu-items a:hover {
  color: #007BFF;
}

/* Divisores verticais entre os itens */
.divider-vertical {
  width: 3px; /* Proporcional ao tamanho da fonte e layout */
  height: 30px; /* Proporcional ao aumento */
  background-color: #44ABB6;
}

/* Dropdown em telas menores */
@media (max-width: 768px) {
  .toggle-menu {
  
   display: block; /* Exibe o ícone de menu */
  }

  .menu-items {
      display: none; /* Esconde os itens do menu por padrão */
      flex-direction: column; /* Muda para layout vertical */
      position: absolute;
      top: 60%; /* Posiciona logo abaixo do menu */
      left: 0;
      width: 100%;
      background-color: #f9f9f9;
      z-index: 9;


    }

  .menu-items.active {
      display: flex; /* Exibe os itens quando ativo */
  }

  .menu-items ul {
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
  }

  .menu-items li {
      margin: 15px 0; /* Ajustado para manter proporção no dropdown */
      text-align: center;
      width: 90%;
  }

  .divider-vertical {
      display: none; /* Remove os divisores no dropdown */
  }


  .menu-icon {
   
      max-height: 50px; /* Ajustado proporcionalmente */
  }
}
