.carousel img {
    width: 100%; 
    height: 416px; 
    object-fit: cover; 
  }


  .carousel {
    padding: 0 !important; /* Remove qualquer padding aplicado ao carrossel */
    margin: 0 auto; /* Centraliza o carrossel */
  }
  
  .carousel-item {
    padding: 0 !important; /* Remove o padding interno dos itens do carrossel */
  }
  



/* SimpleCarousel.css */

.carousel-caption {
  position: absolute;
  bottom: 10px; /* Ajusta a distância do rodapé da imagem */
  text-align: left;
  padding: 0 10px;
  color: #ffffff; /* Cor do texto */
  width: 20%;
}

.carousel-caption h3,
.carousel-caption p {
  margin: 0;
  font-size: 1rem; /* Ajuste o tamanho do texto, se necessário */
  line-height: 1.2;
}

@media (max-width: 768px) {

  .carousel img{
    max-height: 250px;
    
  }

}
